@font-face {
  font-family: "CoffeCake";
  src: url("./assets/fonts/CoffeCake.ttf");
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Heavy.ttf");
}

body {
  background-image: url("./assets/images/HD-wallpaper-rick-and-morty-neon.jpg");
  margin: 0;
  background-repeat: initial;
}

@media (max-width: 640px) {
  body {
    background-repeat: initial;
  }
}
